@tailwind base;
@tailwind components;
@tailwind utilities;


@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --radius-lg: var(--radius);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
  --background-color: #f2f2f2; /* Background color for the entire website, including individual sections */
  --default-color: #0d1f40; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #2b4980; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #ffcc00; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #f2f2f2; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #2b4980; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  --accent-color-b: #f9d93a;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #f2f2f2; /* The default color of the main navmenu links */
  --nav-hover-color: #ffcc00; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #f2f2f2; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #f2f2f2; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #0d1f40; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #ffcc00; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #0d1f40;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0d1f40;
  --contrast-color: #0d1f40;
}

:root {
  scroll-behavior: smooth;

  --border: oklch(0.92 0.004 286.32);

  --input: oklch(0.92 0.004 286.32);

  --ring: oklch(0.705 0.015 286.067);

  --radius: 0.625rem;
}
